@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');

// VARS
$fontcol: white;
$shadow: 2px 2px 10px rgba( 31, 38, 135, 0.4 );
$inputcol: rgba(231, 0, 138, 0.6);
$btncol: #c19;

@mixin glassmorphism {
  background: rgba( 255, 255, 255, 0.3 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 12px );
  -webkit-backdrop-filter: blur( 12px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}
@mixin colNshadow {
  color: $fontcol;
  text-shadow: $shadow;
}

// ====================================================================================== //

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
}

body {background: linear-gradient(to right, #6a3093, #a044ff);}

form {
  width: 50%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 50px auto;
  @include glassmorphism();
  padding: 50px;

  h1 {
    color: $fontcol;
    font-weight: 700;
    text-shadow: $shadow;
  }

  #description {@include colNshadow();}
  p {@include colNshadow();}
  label {@include colNshadow();}

  #dropdown {
    border-radius: 10px;
    padding: 5px;
    border: none;
  }

  .submit {text-align: center;}
  .submit button {
    width: 30%;
    background-color: $btncol;
    border: 2px solid transparent;
    transition: .5s;
    border-radius: 10px;
    &:hover {
      background-color: transparent;
      border: 2px solid $btncol;
      letter-spacing: 2px;
      text-transform: uppercase;
      font-weight: 700;
    }
  }

  textarea {
    background-color: whitesmoke;
    padding: 10px;
    border: none;
    border-radius: 10px;
  }

  @media screen and (max-width: 992px) {
    width: 90%;
    padding: 20px;

    textarea {
      width: 100%;
    }
  }
}
